@font-face {
    font-family: 'Norse';
    src: url('../fonts/Norse-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root{
    --left-width: clamp(120px, 40vw, 800px);
    --text-width: clamp(30ch, 40vw, 75ch);
    --right-width: clamp(30ch, 40vw, 50rem);
    --legend-font-size: calc(1rem + .8vw);
    --medium-font-size: calc(1rem + .4vw);
    --small-font-size: calc(1rem + .1vw);
}

html, body{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    display: flex;
}

*, *::after, *::before{
    box-sizing: inherit;
}

#mainContainer {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    flex: 1;
}

#fernBG {
    flex: 0;
    height: auto;
    width: var(--left-width);
}

#leftSide{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    width: var(--left-width);
}

#rightSide{
    display: flex;
    flex-direction: column;
    width: var(--right-width);
    justify-content: center;
}

p {
    max-width: var(--right-width);
    font-size: var(--small-font-size);
    font-weight: 600;
}

#logoDiv {
    background-color: #00000080;
    display: flex;
    height: auto;
    width: var(--left-width);
    position: absolute;
    top: calc(5rem + 5vw);
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#logo {
    height: auto;
    width: calc(1rem + 5vw);
}

h1{
    margin: 0;
    padding: 0;
    font-family: Norse;
    font-size: calc(1rem + 5vw);
    color: aliceblue;
}

#createAccountForm{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.formFields{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: var(--right-width);
    gap: 2rem;
    padding: 1rem 0;
    box-shadow: 0px 2px #80808040;
}

legend {
    margin-top: calc(2 * var(--legend-font-size));
    margin-bottom: var(--legend-font-size);
    font-size: var(--legend-font-size);
    font-weight: 600;
}

input, label{
    display: block;
    width: calc(var(--right-width) / 2.2);
}

button {
    width: calc(var(--left-width) / 2.2);
    background-color: #596D48;
    color: aliceblue;
    padding: .8rem;
    border-radius: 1rem;
    border: 0;
    margin-top: var(--legend-font-size);
    font-size: var(--small-font-size);
}

a, a:visited{
    color: #596D48;
    text-decoration: none;
    font-weight: 600;

}

label {
    font-size: var(--small-font-size);
    color: #272727;
}

input {
    font-size: var(--small-font-size);
    padding: .5rem;
    border-radius: .5rem;
    border: 2px solid #80808080;
}

#creds {
    align-self: center;
    padding: 0;
    margin: 0;
    color: aliceblue;
    position: relative;
    margin-top: calc(-2rem - 5vw);
}

input:invalid {
    border-color: red;
}
